.cat-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.container1 {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container1 h1 {
  font-size: 3.1em;
  letter-spacing: 0.4em;
  color: #3377FF;
  font-family: 'Oxygen', sans-serif;
}
.container1 h3 {
  font-size: 1.25em;
  letter-spacing: 0.5em;
  color: #3377FF;
  font-family: 'Oxygen', sans-serif;
  font-weight: 200;
}
.container2 {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-button {
  text-decoration: none;
  background-color: #3377FF;
  color: white;
  height: 5vh;
  letter-spacing: 0.2em;
  outline: none;
  border-top: 2px solid #3377FF;
  border-left: 1px solid #3377FF;
  border-bottom: 1px solid #3377FF;
  border-right: 1px solid #3377FF;
}
.input-text {
  border: 2px solid #3377FF;
  color: black;
  font-weight: 300;
  font-size: 15px;
  height: 4.1vh;
  width: 20vw;
}
::placeholder {
  color: #3377FF;
  font-weight: 400;
  font-size: 15px;
  opacity: 40%;
  letter-spacing: 40%;
  padding: 10px;
  margin-top: 100px;
}
